/*
Hamsters of Destiny -- Annabel Zhang, Noakai Aronesty, Hebe Huang, Justin Zou
SoftDev
P01 -- The Hamster Wheel */


.furrback {
  background-color: #18191A;
  color: white;
}

nav {
  background-color: #242526;
}

input .search-query {
    background-color: #3A3B3C;
    color: #B0B3B8;
}