/*
Hamsters of Destiny -- Annabel Zhang, Noakai Aronesty, Hebe Huang, Justin Zou
SoftDev
P01 -- The Hamster Wheel */

* {
  color: white;
}

.furrback {
  background-color: #18191A;
}

nav {
  background-color: #242526;
}