/*
Hamsters of Destiny -- Annabel Zhang, Noakai Aronesty, Hebe Huang, Justin Zou
SoftDev
P01 -- The Hamster Wheel */

.tindback{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: pink;
    background-blend-mode: lighten;
}

nav{
    background-image: linear-gradient(160deg, salmon, peachpuff);
}
