/*
Hamsters of Destiny -- Annabel Zhang, Noakai Aronesty, Hebe Huang, Justin Zou
SoftDev
P01 -- The Hamster Wheel */

.tindback{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(82, 82, 82);
    background-blend-mode: multiply;
}

.card{
    width: 350px;
    margin: auto;
    border-style: none;
    box-shadow: 0px 0px 30px palevioletred;
}

img{
    object-fit: contain;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sr-only{
    text-shadow: 0px 0px 2px black;
}

.icon{
    display: inline;
    width: 25px;
    height: 25px;
}

.icon2{
    display: inline;
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 50%;
    border: 0px;
    font-size: 10px;
}

.icon2:hover{
    opacity: 0.7;
    transition-duration: 0.5s;
}

.options{
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

form{
    display: inline;
}

nav{
    background-image: linear-gradient(170deg, black, darkred);
}

nav a{
    color: whitesmoke;
}