input{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
h5{
    text-align: center;
}

.marginy {
    margin-left: 38%;
    margin-right: 38%;
}

a {
text-decoration: none;
}

a:hover {
text-decoration: underline;
}