.banner {
    height: 50%;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
.profilePic{
    width: 200px; 
    height:200px;
    float
}