.banner {
  width: 598px;
  height: 199.33px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  background-color: #ffffff;
}
.bird{
  left:5%
}
img{
  object-fit: cover;
}
.pfp {
  position: absolute;
  z-index: 1;
  border-radius: 100px;
  left: 3%;
  top: 70%;
}
.fsearch {
  background-color: #afb7c0;
  border: none !important;
  border-radius: 1000px !important;
  font-size: 100%;
  height: 40px;
}

.fsearch:focus{
  background-color: #b5c0ca;
  border: none !important;
  caret-color: white;
  box-shadow: none !important;
  border-radius: 1000px !important;
}

.btn-lg:hover{
  background-color: gray;
}
.card{
  background-color: #ffffff;

}
.bg {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
