.banner {
  width: 598px;
  height: 199.33px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  background-color: #000000;
}
.bird{
  left:5%
}
img{
  object-fit: cover;
}
.pfp {
  position: absolute;
  z-index: 1;
  border-radius: 100px;
  left: 31%;
  top: 30%;
}
.btn-lg:hover{
  background-color: gray;
}
.card{
  background-color: #000000;

}
.bg {
  background-color: #18191A;
  color: white;
}
