<!--
Hamsters of Destiny: Annabel Zhang, Noakai Aronesty, Hebe Huang, Justin Zou
SoftDev
P01 -- The Hamster Wheel
-->

{% extends "layout.html" %}
<html lang="en" dir="ltr">
<head>

  <link href="../static/css/twitter.css" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}hamstwitter{% endblock %}

</head>
<body>
  {% block body %}
  <div>
    <img src="{{ themePic }}" class="center banner" alt="theme ya">
    <img src="{{ pfp }}" class="rounded-circle pfp" alt="profile pic" width="168px" height="168px">
  </div>


  <div class = "container">
    <h1> HELLO</h1>
    
  </div>
  {% endblock %}
</body>
</html>
