<!--
Hamsters of Destiny: Annabel Zhang, Noakai Aronesty, Hebe Huang, Justin Zou
SoftDev
P01 -- The Hamster Wheel
-->


<html lang="en" dir="ltr">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../static/css/twitter.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/24a9f22860.js" crossorigin="anonymous"></script>

    <title>hamstwitter</title>

</head>

<body class = "bg">
      <div class="navdiv">
          <nav class="navbar navbar-expand-lg" >
              <div class="container-fluid">
                <div class="row align-items-start">
                  <div class="col-md">
                    <img src="https://upload.wikimedia.org/wikipedia/sco/thumb/9/9f/Twitter_bird_logo_2012.svg/1200px-Twitter_bird_logo_2012.svg.png"
                        class="img-fluid" alt="hamstwitter definitely mhmm" width="40" height="40">
                  </div>
                  <div class="col-md">
                    {{ adjective }} {{animal}} 
                  </div>
                  <div class="col-md">
                    Seatc
                  </div>
              </div>
          </nav>
      </div>


  <div class="container-fluid">
    <div class="row">
      <div class="col-md border-right">
        <!-- The fas fa stuff are icons and imported from the link above -->
        <div class="btn-group-vertical" >
          <button type="button" class = "btn btn-lg rounded-pill" style="color: white;"><i class="fas fa-home">Home</i></button> <br> 
          <button type="button" class = "btn btn-lg rounded-pill" style="color: white;"><i class="fas fa-hashtag">Explore</i></button> <br> 
          <button type="button" class = "btn btn-lg rounded-pill" style="color: white;"><i class="far fa-bell">Notifications</i></button> <br> 
          <button type="button" class = "btn btn-lg rounded-pill" style="color: white;"><i class="fas fa-mail-bulk">Messages</i></button> <br> 
          <button type="button" class = "btn btn-lg rounded-pill" style="color: white;"><i class="far fa-bookmark">Bookmarks</i></button> <br> 
          <button type="button" class = "btn btn-lg rounded-pill" style="color: white;"><i class="fas fa-list">Lists</i></button> <br> 
          <button type="button" class = "btn btn-lg rounded-pill" style="color: white;"><i class="fas fa-users">Profile</i></button> <br> 
          <button type="button" class = "btn btn-lg rounded-pill" style="color: white;"><i class="fas fa-ellipsis-h">More</i></button>
          <br><br><br>
        </div>
          <div>
            <img src="{{ pfp }}" class="rounded-circle" alt="profile pic" width="100px" height="100px">
            <h5>{{ adjective }} {{animal}} </h5>
            <h8>@{{ adjective }} {{animal}}</h8>
          </div>
      </div>
      <div class="col-md border-right">
        <div class="container">
          <img src="{{ themePic }}" class="banner" alt="theme ya" >
          <img src="{{ pfp }}" class="rounded-circle pfp border border-3 border-dark" alt="profile pic" width="100px" height="100px">
          <div class="card border border-top-0">
            <div class = "card-title">
            <h5><br><br>{{ adjective }} {{animal}} </h5>
              <h8>@{{ adjective }} {{animal}}</h8>
            </div>
            <div class="card-body">
              <i class="far fa-calendar"></i> Joined July 7 2007
              <br>Fun Fact: {{catFact}}
              <br><br>  {% autoescape false %}
              {{ joke }}
              {% endautoescape %}
            </div>
          </div>

        </div>
      </div>
      <div class="col-md">
        <a class="twitter-timeline" href="https://twitter.com/twitterdev">Tweets by @TwitterDev</a>
      </div>
    </div>
  </div>
</body>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</html>
