<!DOCTYPE html>
<!--Hamsters of Destiny: Annabel Zhang, Noakai Aronesty, Hebe Huang, Justin Zou-->
<!--SoftDev-->
<!--P01 -- The Hamster Wheel-->

<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../static/css/general.css" rel="stylesheet">
    <link href="../static/css/login.css" rel="stylesheet">
    <title>Register</title>

</head>

<body>

<br><br>
<div class="container">
    <form action="/rAuth" method="POST" class="">
        <h5 class="fw-normal"> Enter a new username and password below</h5><br>
        <input class="btn-lg rounded-pill" type="text" name="username" placeholder="Username"><br>
        <input class="btn-lg rounded-pill" type="password" name="password0" placeholder="Password"><br>
        <input class="btn-lg rounded-pill" type="password" name="password1" placeholder="Confirm password"><br>
        <input class="btn-lg rounded-pill mb-3" type="submit" name="sub1" value="Register">
    </form>
</div>
<h5 class="fw-normal" id=""> Already have an account? <a href="{{ url_for('login') }}" class="link-info">Login.</a></h5>

<!-- error for when user does not put a username or password (must be at least 1 character) and presses register -->
{% if given|length >= 1 %}
<div class="container-fluid px-5">
    <div class="alert-danger alert text-center marginy py-2" role="alert">
        Please input a {{given}}!
    </div>
</div>
{% endif %}

{% if mismatch %}
<div class="container-fluid px-5">
    <div class="alert-danger alert text-center marginy py-2" role="alert">
        Passwords don't match!
    </div>
</div>
{% endif %}

{% if input == "success" %}
<div class="container-fluid px-5">
    <div class="alert-danger alert text-center marginy py-2" role="alert">
        Registration successful! Please login.
    </div>
</div>
{% endif %}

{% if taken %}
<div class="container-fluid px-5">
    <div class="alert-danger alert text-center marginy py-2" role="alert">
        Username is taken! Please use a different one!
    </div>
</div>
{% endif %}

<form action="/" method='GET'>
    <button style="display: block;margin-right: auto;margin-left: auto;" type="submit" class="btn btn-info"
            formaction="/">Back Home
    </button>
</form>

<br><br>
</body>

</html>
